In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import os

In [3]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "CountryFocused_DF_csv.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\CountryFocused_DF_csv.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [4]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/Country_LatLong/"
source1_file_name = "world_country_and_usa_states_latitude_and_longitude_values.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [5]:
#Confirm VAR for location of Resources Folder.
target_directory_file2 = "Outputs/"
source2_file_name = "Filtered_Clean_DataAnalysis_NaturalDisasters_1970-2021.csv"

Pandas_read_file2 = target_directory_file2 + source2_file_name

In [6]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Country_lat_long_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Country_lat_long_df.head()

  country_code   latitude  longitude         country
0           CZ  49.817492  15.472962  Czech Republic
1           DE  51.165691  10.451526         Germany
2           DJ  11.825138  42.590275        Djibouti
3           DK  56.263920   9.501785         Denmark
4           DM  15.414999 -61.370976        Dominica

In [7]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

Filtered_Complete_DataAnalysis_df = pd.read_csv(Pandas_read_file2) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
Filtered_Complete_DataAnalysis_df.head()

,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,...,Start Month,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months
0,0,25000.0,36.0,1970-0013-ARG,Natural,Hydrological,Flood,NaN,NaN,Argentina,...,1,4,Date_Complete,1970,1,4,1970-01-04,1970-01-04,0 days,0.0
1,3,86400.0,300000.0,1970-0063-BGD,Natural,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,...,11,12,Date_Complete,1970,11,12,1970-11-12,1970-11-12,0 days,0.0
2,4,NaN,17.0,1970-0026-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,4,13,Date_Complete,1970,4,13,1970-04-13,1970-04-13,0 days,0.0
3,6,NaN,300.0,1970-0058-BGD,Natural,Meteorological,Storm,NaN,NaN,Bangladesh,...,10,23,Date_Complete,1970,10,23,1970-10-23,1970-10-23,0 days,0.0
4,8,46000.0,172.0,1970-0037-BRA,Natural,Hydrological,Flood,NaN,NaN,Brazil,...,7,21,Date_Complete,1970,7,21,1970-07-21,1970-07-21,0 days,0.0

In [8]:
Filtered_Complete_DataAnalysis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11469 entries, 0 to 11468
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Index                              11469 non-null  int64
 1   Total Damages ('000 US$)           4265 non-null   float64
 2   Total Deaths                       8501 non-null   float64
 3   Dis No                             11469 non-null  object
 4   Disaster Group                     11469 non-null  object
 5   Disaster Subgroup                  11469 non-null  object
 6   Disaster Type                      11469 non-null  object
 7   Disaster Subtype                   9465 non-null   object
 8   Disaster Subsubtype                966 non-null    object
 9   Country                            11469 non-null  object
 10  Region                             11469 non-null  object
 11  Location                           10763 non-null  object
 12  Continent                          11469 non-null  object
 13  Start_Date_Complete_Y_N            11469 non-null  object
 14  Start Year                         11469 non-null  int64
 15  Start Month                        11469 non-null  int64
 16  Start Day                          11469 non-null  int64
 17  End_Date_Complete_Y_N              11469 non-null  object
 18  End Year                           11469 non-null  int64
 19  End Month                          11469 non-null  int64
 20  End Day                            11469 non-null  int64
 21  Start Date                         11468 non-null  object
 22  End Date                           11465 non-null  object
 23  Start to End Date_Duration Days    11465 non-null  object
 24  Start to End Date_Duration Months  11465 non-null  float64
dtypes: float64(3), int64(7), object(15)
memory usage: 2.2+ MB

In [9]:
#via URL => https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers


List_of_Analysis2_Columns = Filtered_Complete_DataAnalysis_df.columns.values.tolist()

List_of_Analysis2_Columns

['Index',
 "Total Damages ('000 US$)",
 'Total Deaths',
 'Dis No',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Disaster Subsubtype',
 'Country',
 'Region',
 'Location',
 'Continent',
 'Start_Date_Complete_Y_N',
 'Start Year',
 'Start Month',
 'Start Day',
 'End_Date_Complete_Y_N',
 'End Year',
 'End Month',
 'End Day',
 'Start Date',
 'End Date',
 'Start to End Date_Duration Days',
 'Start to End Date_Duration Months']

In [10]:
#Create unique list of Filtered Data to enable comparatives via str.lower()

#Disaster_groups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[3]].unique().tolist())
#Disaster_subgroups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[4]].unique().tolist())
#Disaster_types = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[5]].unique().tolist())
#Disaster_Subtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[6]].unique().tolist())
#Disaster_Subsubtypes = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[7]].unique().tolist())
Disaster_countries = pd.Series(Filtered_Complete_DataAnalysis_df[List_of_Analysis2_Columns[9]].unique().tolist())
#Disaster_region = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[9]].unique().tolist())
#Diasaster_contenent = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[11]].unique().tolist())
#Disaster_location = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[10]].unique().tolist())

Disaster_countries

0                       Argentina
1                      Bangladesh
2                          Brazil
3                        Barbados
4                          Canada
                  ...
221                         Qatar
222              Saint Barthélemy
223    Saint Martin (French Part)
224     Sint Maarten (Dutch part)
225                   Isle of Man
Length: 226, dtype: object

In [11]:
List_of_Analysis1_Columns = Country_lat_long_df.columns.values.tolist()

List_of_Analysis1_Columns

['country_code', 'latitude', 'longitude', 'country']

In [12]:
#Create series for Lat Long Countries... #Country_lat_long_df

Lat_long_Countries = pd.Series(Country_lat_long_df[List_of_Analysis1_Columns[3]].unique().tolist())

Lat_long_Countries

0      Czech Republic
1             Germany
2            Djibouti
3             Denmark
4            Dominica
            ...
189           Mayotte
190      South Africa
191            Zambia
192          Zimbabwe
193            Canada
Length: 194, dtype: object

In [117]:
#compare countries using lower() to "fuzzy" assess matches.

Matched_Countries = [i for x in Lat_long_Countries for i in Disaster_countries if i.lower() == x.lower()] #.sort()

Matched_Countries = pd.Series(sorted(Matched_Countries)) #.astype("string")   #VIA URL => https://realpython.com/python-sort/

def get_country(Matched_Countries):
     return Matched_Countries.get()

#Matched_Countries = list(Matched_Countries).sort(key=get_country,reverse=False)

print(Matched_Countries) #.str)   #.str.get(:))

0                Algeria
1               Cambodia
2                 Canada
3                   Chad
4                Croatia
             ...
130              Vanuatu
131    Wallis and Futuna
132                Yemen
133               Zambia
134             Zimbabwe
Length: 135, dtype: object

In [14]:
#merge by country name. Above confirmed 135 merges will be taking place ... I'll drop na from the merge column ... 

Merged_filtered_wLatLong_df = Country_lat_long_df.merge(Filtered_Complete_DataAnalysis_df.assign(in_index="Found_in_Disasters"),
                                                                      left_on=List_of_Analysis1_Columns[3], right_on=List_of_Analysis2_Columns[9], how='right').fillna({'in_index':'Lost_Filtered_Data'})

Merged_filtered_wLatLong_df.tail(15)

,country_code,latitude,longitude,country,Index,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,...,Start Day,End_Date_Complete_Y_N,End Year,End Month,End Day,Start Date,End Date,Start to End Date_Duration Days,Start to End Date_Duration Months,in_index
11454,NaN,NaN,NaN,NaN,14628,NaN,NaN,2021-0357-USA,Natural,Climatological,...,6,Date_Complete,2021,7,4,2021-06-06,2021-07-04,28 days,0.919937,Found_in_Disasters
11455,NaN,NaN,NaN,NaN,14629,100000.0,NaN,2021-0410-USA,Natural,Climatological,...,6,Date_Complete,2021,7,31,2021-07-06,2021-07-31,25 days,0.821372,Found_in_Disasters
11456,NaN,NaN,NaN,NaN,14630,1100000.0,12.0,2021-0532-USA,Natural,Hydrological,...,17,Date_Complete,2021,8,22,2021-08-17,2021-08-22,5 days,0.164274,Found_in_Disasters
11457,UZ,41.377491,64.585262,Uzbekistan,14631,NaN,8.0,2021-0413-UZB,Natural,Hydrological,...,12,Date_Complete,2021,7,13,2021-07-12,2021-07-13,1 days,0.032855,Found_in_Disasters
11458,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14632,325000.0,NaN,2021-0195-VCT,Natural,Geophysical,...,9,Date_Complete,2021,4,30,2021-04-09,2021-04-30,21 days,0.689953,Found_in_Disasters
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,14633,NaN,NaN,2021-0373-VCT,Natural,Meteorological,...,2,Date_Complete,2021,7,3,2021-07-02,2021-07-03,1 days,0.032855,Found_in_Disasters
11460,NaN,NaN,NaN,NaN,14634,NaN,NaN,2021-0269-VEN,Natural,Hydrological,...,30,Date_Complete,2021,5,4,2021-04-30,2021-05-04,4 days,0.131420,Found_in_Disasters
11461,NaN,NaN,NaN,NaN,14635,NaN,NaN,2021-0171-VNM,Natural,Meteorological,...,22,Date_Complete,2021,3,23,2021-03-22,2021-03-23,1 days,0.032855,Found_in_Disasters
11462,NaN,NaN,NaN,NaN,14636,NaN,3.0,2021-0217-VNM,Natural,Hydrological,...,16,Date_Complete,2021,4,19,2021-04-16,2021-04-19,3 days,0.098565,Found_in_Disasters
11463,NaN,NaN,NaN,NaN,14637,NaN,2.0,2021-0595-VNM,Natural,Meteorological,...,12,Date_Complete,2021,9,12,2021-09-12,2021-09-12,0 days,0.000000,Found_in_Disasters
11464,YE,15.552727,48.516388,Yemen,14638,NaN,13.0,2021-0270-YEM,Natural,Hydrological,...,1,Date_Complete,2021,5,17,2021-05-01,2021-05-17,16 days,0.525678,Found_in_Disasters
11465,YE,15.552727,48.516388,Yemen,14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,...,16,Date_Complete,2021,8,7,2021-07-16,2021-08-07,22 days,0.722807,Found_in_Disasters
11466,ZA,-30.559482,22.937506,South Africa,14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,...,1,Date_Complete,2021,2,15,2021-02-01,2021-02-15,14 days,0.459968,Found_in_Disasters
11467,NaN,NaN,NaN,NaN,14641,NaN,131.0,2021-0599-COD,Natural,Biological,...,7,Date_Complete,2021,9,13,2021-09-07,2021-09-13,6 days,0.197129,Found_in_Disasters
11468,RS,44.016521,21.005859,Serbia,14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,...,11,Date_Complete,2021,1,12,2021-01-11,2021-01-12,1 days,0.032855,Found_in_Disasters

In [15]:
Full_GrpBy_Cols = pd.Series(Merged_filtered_wLatLong_df.columns.values.tolist())

#Note ... I didn't have pd.Series() above ... and probably could have "just" done that ...

#via URL => https://datagy.io/python-zip-lists/
#list_a = Full_GrpBy_Cols.index
#list_b = Full_GrpBy_Cols

#Below ... is my "by hand" attempt without ... finding a URL.
#Full_GrpBy_Cols = set(list(range(len(Full_GrpBy_Cols))),Full_GrpBy_Cols)

#zipped = (list_a, list_b)
#Full_GrpBy_Cols = zipped

Full_GrpBy_Cols

0                          country_code
1                              latitude
2                             longitude
3                               country
4                                 Index
5              Total Damages ('000 US$)
6                          Total Deaths
7                                Dis No
8                        Disaster Group
9                     Disaster Subgroup
10                        Disaster Type
11                     Disaster Subtype
12                  Disaster Subsubtype
13                              Country
14                               Region
15                             Location
16                            Continent
17              Start_Date_Complete_Y_N
18                           Start Year
19                          Start Month
20                            Start Day
21                End_Date_Complete_Y_N
22                             End Year
23                            End Month
24                              End Day
25                           Start Date
26                             End Date
27      Start to End Date_Duration Days
28    Start to End Date_Duration Months
29                             in_index
dtype: object

In [16]:

#Reduced_GrpBy_Cols = [[Full_GrpBy_Cols[0],Full_GrpBy_Cols[1],Full_GrpBy_Cols[2],Full_GrpBy_Cols[13],Full_GrpBy_Cols[14],Full_GrpBy_Cols[16],Full_GrpBy_Cols[7],Full_GrpBy_Cols[6],Full_GrpBy_Cols[27],Full_GrpBy_Cols[28],Full_GrpBy_Cols[9],Full_GrpBy_Cols[10],Full_GrpBy_Cols[11],Full_GrpBy_Cols[8]]] #Needed for removal of "NaNs" step .... 

Reduced_merged_df = Merged_filtered_wLatLong_df.loc[ : , [Full_GrpBy_Cols[0],Full_GrpBy_Cols[1],Full_GrpBy_Cols[2],Full_GrpBy_Cols[13],Full_GrpBy_Cols[14],Full_GrpBy_Cols[16],Full_GrpBy_Cols[7],Full_GrpBy_Cols[6],Full_GrpBy_Cols[27],Full_GrpBy_Cols[28],Full_GrpBy_Cols[9],Full_GrpBy_Cols[10],Full_GrpBy_Cols[11],Full_GrpBy_Cols[8]]]
                                                    
                                                    
                                                    # Reduced_GrpBy_Cols] #ERROR ... not working for some reason ... come back to it in the future ... 

Reduced_merged_df.head()

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
0,NaN,NaN,NaN,Argentina,South America,Americas,1970-0013-ARG,36.0,0 days,0.0,Hydrological,Flood,NaN,Natural
1,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0063-BGD,300000.0,0 days,0.0,Meteorological,Storm,Tropical cyclone,Natural
2,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0026-BGD,17.0,0 days,0.0,Meteorological,Storm,NaN,Natural
3,NaN,NaN,NaN,Bangladesh,Southern Asia,Asia,1970-0058-BGD,300.0,0 days,0.0,Meteorological,Storm,NaN,Natural
4,NaN,NaN,NaN,Brazil,South America,Americas,1970-0037-BRA,172.0,0 days,0.0,Hydrological,Flood,NaN,Natural

In [17]:

Reduced_GrpBy_Cols = pd.Series(Reduced_merged_df.columns.values.tolist())
print(Reduced_GrpBy_Cols)

Reduced_merged_df.info()

fill_na_values = {str(Reduced_GrpBy_Cols[0]):"N/A" ,str(Reduced_GrpBy_Cols[1]):0,str(Reduced_GrpBy_Cols[2]):0}

Analysis_Reduced_merged_df = Reduced_merged_df.fillna(value=fill_na_values)  


#     Pivoting to URL approach => https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html
# Reduced_merged_df.loc[["latitude"] != np.nan , Reduced_GrpBy_Cols ]     # (["latitude"] != "" or ["longitude"] != "") == True , Reduced_GrpBy_Cols ]  # (["latitude"] != "" | ["longitude"] != "") , Reduced_GrpBy_Cols ]

Analysis_Reduced_merged_df.tail(12)

0                          country_code
1                              latitude
2                             longitude
3                               Country
4                                Region
5                             Continent
6                                Dis No
7                          Total Deaths
8       Start to End Date_Duration Days
9     Start to End Date_Duration Months
10                    Disaster Subgroup
11                        Disaster Type
12                     Disaster Subtype
13                       Disaster Group
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11469 entries, 0 to 11468
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5825 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   Country                            11469 non-null  object
 4   Region                             11469 non-null  object
 5   Continent                          11469 non-null  object
 6   Dis No                             11469 non-null  object
 7   Total Deaths                       8501 non-null   float64
 8   Start to End Date_Duration Days    11465 non-null  object
 9   Start to End Date_Duration Months  11465 non-null  float64
 10  Disaster Subgroup                  11469 non-null  object
 11  Disaster Type                      11469 non-null  object
 12  Disaster Subtype                   9465 non-null   object
 13  Disaster Group                     11469 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.3+ MB

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
11457,UZ,41.377491,64.585262,Uzbekistan,Central Asia,Asia,2021-0413-UZB,8.0,1 days,0.032855,Hydrological,Landslide,Mudslide,Natural
11458,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0195-VCT,NaN,21 days,0.689953,Geophysical,Volcanic activity,Pyroclastic flow,Natural
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,NaN,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11460,N/A,0.000000,0.000000,Venezuela (Bolivarian Republic of),South America,Americas,2021-0269-VEN,NaN,4 days,0.131420,Hydrological,Flood,NaN,Natural
11461,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0171-VNM,NaN,1 days,0.032855,Meteorological,Storm,Convective storm,Natural
11462,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0217-VNM,3.0,3 days,0.098565,Hydrological,Flood,Flash flood,Natural
11463,N/A,0.000000,0.000000,Viet Nam,South-Eastern Asia,Asia,2021-0595-VNM,2.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11467,N/A,0.000000,0.000000,Congo (the Democratic Republic of the),Middle Africa,Africa,2021-0599-COD,131.0,6 days,0.197129,Biological,Epidemic,Viral disease,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,NaN,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [18]:
Filter_to_Value = 0

#Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')

#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1

Analysis_Reduced_merged_df2 = Analysis_Reduced_merged_df.query('latitude != @Filter_to_Value' ) # #loc[["latitude"] != 0]

Analysis_Reduced_merged_df2

,country_code,latitude,longitude,Country,Region,Continent,Dis No,Total Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
17,DM,15.414999,-61.370976,Dominica,Caribbean,Americas,1970-0120-DMA,NaN,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,NaN,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,NaN,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [19]:
print(Reduced_GrpBy_Cols)

Analysis_Reduced_merged_df2.info()

0                          country_code
1                              latitude
2                             longitude
3                               Country
4                                Region
5                             Continent
6                                Dis No
7                          Total Deaths
8       Start to End Date_Duration Days
9     Start to End Date_Duration Months
10                    Disaster Subgroup
11                        Disaster Type
12                     Disaster Subtype
13                       Disaster Group
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5839 entries, 6 to 11468
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country_code                       5839 non-null   object
 1   latitude                           5839 non-null   float64
 2   longitude                          5839 non-null   float64
 3   Country                            5839 non-null   object
 4   Region                             5839 non-null   object
 5   Continent                          5839 non-null   object
 6   Dis No                             5839 non-null   object
 7   Total Deaths                       4317 non-null   float64
 8   Start to End Date_Duration Days    5836 non-null   object
 9   Start to End Date_Duration Months  5836 non-null   float64
 10  Disaster Subgroup                  5839 non-null   object
 11  Disaster Type                      5839 non-null   object
 12  Disaster Subtype                   4792 non-null   object
 13  Disaster Group                     5839 non-null   object
dtypes: float64(4), object(10)
memory usage: 684.3+ KB

In [20]:
fill_na_values = {str(Reduced_GrpBy_Cols[7]):"N/A"} # ,str(Reduced_GrpBy_Cols[1]):0,str(Reduced_GrpBy_Cols[2]):0}

Analysis_Reduced_merged_df3 = Analysis_Reduced_merged_df2.fillna(value=fill_na_values)  

new_name = {
     "Dis No" : "Dis_No",
     "Total Deaths":"Total_Deaths"
}

Analysis_Reduced_merged_df3 = Analysis_Reduced_merged_df3.rename(columns=new_name)

Analysis_Reduced_merged_df3

,country_code,latitude,longitude,Country,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
17,DM,15.414999,-61.370976,Dominica,Caribbean,Americas,1970-0120-DMA,N/A,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11459,VC,12.984305,-61.287228,Saint Vincent and the Grenadines,Caribbean,Americas,2021-0373-VCT,N/A,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural
11468,RS,44.016521,21.005859,Serbia,Southern Europe,Europe,2021-0020-SRB,N/A,1 days,0.032855,Hydrological,Flood,NaN,Natural

In [21]:
Filter_to_Value2 = "N/A"

Analysis_Reduced_merged_df4 = Analysis_Reduced_merged_df3.query(r'Total_Deaths != @Filter_to_Value2')  #' ) # #loc[["latitude"] != 0]

Analysis_Reduced_merged_df4

,country_code,latitude,longitude,Country,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
18,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0067-ECU,29.0,0 days,0.000000,Geophysical,Earthquake,Ground movement,Natural
19,EC,-1.831239,-78.183406,Ecuador,South America,Americas,1970-0023-ECU,20.0,0 days,0.000000,Hydrological,Flood,NaN,Natural
20,ET,9.145000,40.489673,Ethiopia,Eastern Africa,Africa,1970-0007-ETH,500.0,0 days,0.000000,Biological,Epidemic,Bacterial disease,Natural
21,FR,46.227638,2.213749,France,Western Europe,Europe,1970-0016-FRA,42.0,0 days,0.000000,Hydrological,Landslide,Avalanche,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11445,UG,1.373333,32.290275,Uganda,Eastern Africa,Africa,2021-0240-UGA,1.0,4 days,0.131420,Hydrological,Flood,NaN,Natural
11457,UZ,41.377491,64.585262,Uzbekistan,Central Asia,Asia,2021-0413-UZB,8.0,1 days,0.032855,Hydrological,Landslide,Mudslide,Natural
11464,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0270-YEM,13.0,16 days,0.525678,Hydrological,Flood,Flash flood,Natural
11465,YE,15.552727,48.516388,Yemen,Western Asia,Asia,2021-0449-YEM,11.0,22 days,0.722807,Hydrological,Flood,NaN,Natural
11466,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0075-ZAF,31.0,14 days,0.459968,Hydrological,Flood,NaN,Natural

In [35]:
Region_GrpBy_Totals = Analysis_Reduced_merged_df4.groupby('Region')[['Country']].count()

#
#HAS ERRORS ... 
#
Region_GrpBy_Totals

                           Country
Region
Australia and New Zealand       17
Caribbean                      160
Central America                407
Central Asia                    72
Eastern Africa                 463
Eastern Asia                   251
Eastern Europe                 135
Melanesia                      115
Micronesia                       4
Middle Africa                   32
Northern Africa                125
Northern America                38
Northern Europe                 46
Polynesia                       21
South America                  179
South-Eastern Asia             512
Southern Africa                 94
Southern Asia                  792
Southern Europe                243
Western Africa                 207
Western Asia                   243
Western Europe                 161

In [36]:
Analysis_Reduced_merged_df4.describe()

          latitude    longitude  Start to End Date_Duration Months
count  4317.000000  4317.000000                        4314.000000
mean     17.234385    33.603984                           0.353674
std      20.400308    72.011813                           1.293374
min     -40.900557  -177.156097                           0.000000
25%      -0.023559     1.659626                           0.000000
50%      20.593684    35.529562                           0.032855
75%      31.791702    78.962880                           0.197129
max      64.963051   179.414413                          31.376414

In [39]:
disasters_per_country = Analysis_Reduced_merged_df4.groupby('Country')['Dis_No'].count().sort_values(ascending=False).reset_index

disasters_per_country

<bound method Series.reset_index of Country
India                474
Indonesia            348
Mexico               196
Japan                196
Pakistan             172
                    ...
Equatorial Guinea      1
Grenada                1
Singapore              1
Gabon                  1
Niue                   1
Name: Dis_No, Length: 128, dtype: int64>

In [41]:
disaster_types_count = Analysis_Reduced_merged_df4.groupby('Disaster Type').size().sort_values(ascending=False).reset_index()
disaster_types_count.columns = ["Disaster Type","Count"]

disaster_types_count

           Disaster Type  Count
0                  Flood   1826
1                  Storm   1119
2             Earthquake    440
3              Landslide    354
4               Epidemic    310
5   Extreme temperature     152
6               Wildfire     60
7      Volcanic activity     35
8    Mass movement (dry)     19
9  Glacial lake outburst      2

In [43]:
Disaster_Types_by_Country_no = Analysis_Reduced_merged_df4.groupby('Country').count()


#Analysis_Reduced_merged_df4.groupby('Disaster Type')['Country'].size().sort_values(ascending=False).reset_index()

Disaster_Types_by_Country_no

,country_code,latitude,longitude,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
Country,,,,,,,,,,,,,
Algeria,56,56,56,56,56,56,56,56,56,56,56,42,56
Cambodia,23,23,23,23,23,23,23,23,23,23,23,21,23
Canada,38,38,38,38,38,38,38,38,38,38,38,29,38
Chad,30,30,30,30,30,30,30,30,30,30,30,27,30
Croatia,7,7,7,7,7,7,7,7,7,7,7,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vanuatu,13,13,13,13,13,13,13,13,13,13,13,12,13
Wallis and Futuna,2,2,2,2,2,2,2,2,2,2,2,2,2
Yemen,49,49,49,49,49,49,49,49,49,49,49,39,49
Zambia,15,15,15,15,15,15,15,15,15,15,15,13,15
Zimbabwe,24,24,24,24,24,24,24,24,24,24,24,22,24

In [44]:
Disaster_Types_by_Country_no2 = Analysis_Reduced_merged_df4.groupby('Country').size()

Disaster_Types_by_Country_no2

Country
Algeria              56
Cambodia             23
Canada               38
Chad                 30
Croatia               7
                     ..
Vanuatu              13
Wallis and Futuna     2
Yemen                49
Zambia               15
Zimbabwe             24
Length: 128, dtype: int64

In [55]:
Disaster_types_Unique = pd.Series(disaster_types_count['Disaster Type'].tolist())

Disaster_types_Unique

0                    Flood
1                    Storm
2               Earthquake
3                Landslide
4                 Epidemic
5     Extreme temperature
6                 Wildfire
7        Volcanic activity
8      Mass movement (dry)
9    Glacial lake outburst
dtype: object

In [106]:
df_group0 = Analysis_Reduced_merged_df4.groupby('Country')

row_list = []
for name,group in df_group0:
     RecordtoAdd = {}
     RecordtoAdd.update({'Country':name})
     if group['Disaster Type'] == True:# = "Disaster Type":
          RecordtoAdd.update({'Type of Occurence':group['Disaster Type']})
          RecordtoAdd.update({'List of Unique':pd.unique(group['Disaster Type'])})
          RecordtoAdd.update({'Num of Unique Types':len(pd.unique(group['Disaster Type']))})
     row_list.append(RecordtoAdd)

AnalysisData = pd.DataFrame(row_list)

print(AnalysisData)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [98]:
df_group = Analysis_Reduced_merged_df4.groupby('Disaster Type') # Analysis_Reduced_merged_df4.groupby('Country')
floods_only_df = df_group.get_group(Disaster_types_Unique[0])     #.get_group(['Disaster Type']) # == Disaster_types_Unique[0])
Storm_only_df = df_group.get_group(Disaster_types_Unique[1])
Earthquake_only_df = df_group.get_group(Disaster_types_Unique[2]) 
Landslide_only_df = df_group.get_group(Disaster_types_Unique[3]) 
Epidemic = df_group.get_group(Disaster_types_Unique[4]) 
Extrm_temp_df = df_group.get_group(Disaster_types_Unique[5]) 
WildFire_df = df_group.get_group(Disaster_types_Unique[6]) 
volcano_df = df_group.get_group(Disaster_types_Unique[7]) 
massmovement_df = df_group.get_group(Disaster_types_Unique[8]) 
glacial_df = df_group.get_group(Disaster_types_Unique[9])

In [107]:
from collections import Counter

In [118]:
print(disaster_types_count)
print("========")
floods_only_df.head()

flood_countries = pd.Series(floods_only_df.groupby('Country')['Dis_No'].count().sort_values(ascending=False))   #.reset_index)

#Floods_dict = {k:v for (k,v) in (Counter(flood_countries).keys(), Counter(flood_countries).values())}

Floods_Count = zip(Counter(flood_countries).keys(), Counter(flood_countries).values())

print(flood_countries)
print(Floods_Count)

#Complete_DataAnalysis_toCsv.to_csv(output1_file_name)
#flood_countries.to_csv("Flood_Countries_Summary.csv")
#floods_only_df.to_csv("FLoods_only_data.csv")

#Analysis_Reduced_merged_df4.groupby('Country')['Dis_No'].count().sort_values(ascending=False).reset_index

           Disaster Type  Count
0                  Flood   1826
1                  Storm   1119
2             Earthquake    440
3              Landslide    354
4               Epidemic    310
5   Extreme temperature     152
6               Wildfire     60
7      Volcanic activity     35
8    Mass movement (dry)     19
9  Glacial lake outburst      2
========
Country
India         208
Indonesia     172
Pakistan       84
Thailand       58
Mexico         56
             ...
Seychelles      1
Sweden          1
Swaziland       1
Lithuania       1
Slovenia        1
Name: Dis_No, Length: 99, dtype: int64
<zip object at 0x000001DF34DD9680>

In [101]:
print(disaster_types_count)
print("========")
Storm_only_df

           Disaster Type  Count
0                  Flood   1826
1                  Storm   1119
2             Earthquake    440
3              Landslide    354
4               Epidemic    310
5   Extreme temperature     152
6               Wildfire     60
7      Volcanic activity     35
8    Mass movement (dry)     19
9  Glacial lake outburst      2
========

,country_code,latitude,longitude,Country,Region,Continent,Dis_No,Total_Deaths,Start to End Date_Duration Days,Start to End Date_Duration Months,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Group
6,CA,56.130366,-106.346771,Canada,Northern America,Americas,1970-0042-CAN,10.0,0 days,0.000000,Meteorological,Storm,NaN,Natural
40,HK,22.396428,114.109497,Hong Kong,Eastern Asia,Asia,1971-0049-HKG,115.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
42,IN,20.593684,78.962880,India,Southern Asia,Asia,1971-0058-IND,9658.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
43,IN,20.593684,78.962880,India,Southern Asia,Asia,1971-0112-IND,60.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
50,FJ,-16.578193,179.414413,Fiji,Melanesia,Oceania,1972-0059-FJI,3.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11405,VU,-15.376706,166.959158,Vanuatu,Melanesia,Oceania,2020-0132-VUT,5.0,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11423,TL,-8.874217,125.727539,Timor-Leste,South-Eastern Asia,Asia,2021-0173-TLS,41.0,1 days,0.032855,Meteorological,Storm,Tropical cyclone,Natural
11434,UA,48.379433,31.165580,Ukraine,Eastern Europe,Europe,2021-0320-UKR,1.0,1 days,0.032855,Meteorological,Storm,Extra-tropical storm,Natural
11441,ZA,-30.559482,22.937506,South Africa,Southern Africa,Africa,2021-0036-ZAF,4.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural
11442,ZW,-19.015438,29.154857,Zimbabwe,Eastern Africa,Africa,2021-0036-ZWE,3.0,0 days,0.000000,Meteorological,Storm,Tropical cyclone,Natural

In [93]:
for name_of_group,contents_of_group in df_group:
     print(name_of_group)
     print(contents_of_group)

Earthquake
      country_code   latitude   longitude     Country              Region  \
18              EC  -1.831239  -78.183406     Ecuador       South America
27              IN  20.593684   78.962880       India       Southern Asia
100             IN  20.593684   78.962880       India       Southern Asia
118             EC  -1.831239  -78.183406     Ecuador       South America
119             EC  -1.831239  -78.183406     Ecuador       South America
...            ...        ...         ...         ...                 ...
11249           ID  -0.789275  113.921327   Indonesia  South-Eastern Asia
11257           IN  20.593684   78.962880       India       Southern Asia
11269           JP  36.204824  138.252924       Japan        Eastern Asia
11301           PK  30.375321   69.345116    Pakistan       Southern Asia
11324           TJ  38.861034   71.276093  Tajikistan        Central Asia

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
18     Americas  1970-0067-ECU         29.0                          0 days
27         Asia  1970-0112-IND         26.0                          0 days
100        Asia  1975-0014-IND         47.0                          0 days
118    Americas  1976-0033-ECU         10.0                          0 days
119    Americas  1976-0068-ECU         10.0                          0 days
...         ...            ...          ...                             ...
11249      Asia  2021-0200-IDN          9.0                          0 days
11257      Asia  2021-0225-IND          2.0                          0 days
11269      Asia  2021-0105-JPN          1.0                          0 days
11301      Asia  2021-0654-PAK         20.0                          0 days
11324      Asia  2021-0403-TJK          5.0                          0 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
18                                   0.0       Geophysical    Earthquake
27                                   0.0       Geophysical    Earthquake
100                                  0.0       Geophysical    Earthquake
118                                  0.0       Geophysical    Earthquake
119                                  0.0       Geophysical    Earthquake
...                                  ...               ...           ...
11249                                0.0       Geophysical    Earthquake
11257                                0.0       Geophysical    Earthquake
11269                                0.0       Geophysical    Earthquake
11301                                0.0       Geophysical    Earthquake
11324                                0.0       Geophysical    Earthquake

      Disaster Subtype Disaster Group
18     Ground movement        Natural
27     Ground movement        Natural
100    Ground movement        Natural
118    Ground movement        Natural
119    Ground movement        Natural
...                ...            ...
11249  Ground movement        Natural
11257  Ground movement        Natural
11269  Ground movement        Natural
11301  Ground movement        Natural
11324  Ground movement        Natural

[440 rows x 14 columns]
Epidemic
      country_code   latitude   longitude        Country              Region  \
20              ET   9.145000   40.489673       Ethiopia      Eastern Africa
159             ID  -0.789275  113.921327      Indonesia  South-Eastern Asia
172             IN  20.593684   78.962880          India       Southern Asia
456             ET   9.145000   40.489673       Ethiopia      Eastern Africa
723             GW  11.803749  -15.180413  Guinea-Bissau      Western Africa
...            ...        ...         ...            ...                 ...
10914           PK  30.375321   69.345116       Pakistan       Southern Asia
11096           NG   9.081999    8.675277        Nigeria      Western Africa
11097           NG   9.081999    8.675277        Nigeria      Western Africa
11127           PY -23.442503  -58.443832       Paraguay       South America
11240           GN   9.945587   -9.696645         Guinea      Western Africa

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
20       Africa  1970-0007-ETH        500.0                          0 days
159        Asia  1977-0013-IDN         37.0                          0 days
172        Asia  1978-0012-IND         45.0                          0 days
456      Africa  1980-0130-ETH        157.0                          0 days
723      Africa  1987-0165-GNB         68.0                          0 days
...         ...            ...          ...                             ...
10914      Asia  2019-0659-PAK         95.0                        720 days
11096    Africa  2020-0039-NGA         47.0                         47 days
11097    Africa  2020-0528-NGA         76.0                         33 days
11127  Americas  2020-0080-PRY         20.0                         17 days
11240    Africa  2021-0518-GIN          1.0                         11 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
20                              0.000000        Biological      Epidemic
159                             0.000000        Biological      Epidemic
172                             0.000000        Biological      Epidemic
456                             0.000000        Biological      Epidemic
723                             0.000000        Biological      Epidemic
...                                  ...               ...           ...
10914                          23.655517        Biological      Epidemic
11096                           1.544180        Biological      Epidemic
11097                           1.084211        Biological      Epidemic
11127                           0.558533        Biological      Epidemic
11240                           0.361404        Biological      Epidemic

        Disaster Subtype Disaster Group
20     Bacterial disease        Natural
159    Bacterial disease        Natural
172        Viral disease        Natural
456    Parasitic disease        Natural
723    Bacterial disease        Natural
...                  ...            ...
10914      Viral disease        Natural
11096      Viral disease        Natural
11097      Viral disease        Natural
11127      Viral disease        Natural
11240      Viral disease        Natural

[310 rows x 14 columns]
Extreme temperature
      country_code   latitude   longitude  Country           Region Continent  \
72              IN  20.593684   78.962880    India    Southern Asia      Asia
73              IN  20.593684   78.962880    India    Southern Asia      Asia
624             ES  40.463667   -3.749220    Spain  Southern Europe    Europe
634             GR  39.074208   21.824312   Greece  Southern Europe    Europe
724             GR  39.074208   21.824312   Greece  Southern Europe    Europe
...            ...        ...         ...      ...              ...       ...
10452           RS  44.016521   21.005859   Serbia  Southern Europe    Europe
10537           RO  45.943161   24.966760  Romania   Eastern Europe    Europe
10748           FR  46.227638    2.213749   France   Western Europe    Europe
10889           JP  36.204824  138.252924    Japan     Eastern Asia      Asia
10890           JP  36.204824  138.252924    Japan     Eastern Asia      Asia

              Dis_No Total_Deaths Start to End Date_Duration Days  \
72     1973-0009-IND        115.0                          0 days
73     1973-0054-IND        146.0                          0 days
624    1985-0269-ESP         40.0                          0 days
634    1985-0257-GRC         20.0                          0 days
724    1987-0596-GRC       1000.0                         11 days
...              ...          ...                             ...
10452  2017-0010-SRB          6.0                          0 days
10537  2018-0061-ROU          2.0                          5 days
10748  2020-0530-FRA       1924.0                         17 days
10889  2019-0463-JPN        162.0                         10 days
10890  2019-0467-JPN         11.0                          8 days

       Start to End Date_Duration Months Disaster Subgroup  \
72                              0.000000    Meteorological
73                              0.000000    Meteorological
624                             0.000000    Meteorological
634                             0.000000    Meteorological
724                             0.361404    Meteorological
...                                  ...               ...
10452                           0.000000    Meteorological
10537                           0.164274    Meteorological
10748                           0.558533    Meteorological
10889                           0.328549    Meteorological
10890                           0.262839    Meteorological

              Disaster Type          Disaster Subtype Disaster Group
72     Extreme temperature                  Cold wave        Natural
73     Extreme temperature                  Cold wave        Natural
624    Extreme temperature                  Cold wave        Natural
634    Extreme temperature                  Heat wave        Natural
724    Extreme temperature                  Heat wave        Natural
...                     ...                       ...            ...
10452  Extreme temperature   Severe winter conditions        Natural
10537  Extreme temperature                  Cold wave        Natural
10748  Extreme temperature                  Heat wave        Natural
10889  Extreme temperature                  Heat wave        Natural
10890  Extreme temperature                  Heat wave        Natural

[152 rows x 14 columns]
Flood
      country_code   latitude   longitude       Country           Region  \
19              EC  -1.831239  -78.183406       Ecuador    South America
26              HU  47.162494   19.503304       Hungary   Eastern Europe
53              HK  22.396428  114.109497     Hong Kong     Eastern Asia
54              HT  18.971187  -72.285215         Haiti        Caribbean
66              ES  40.463667   -3.749220         Spain  Southern Europe
...            ...        ...         ...           ...              ...
11427           UG   1.373333   32.290275        Uganda   Eastern Africa
11445           UG   1.373333   32.290275        Uganda   Eastern Africa
11464           YE  15.552727   48.516388         Yemen     Western Asia
11465           YE  15.552727   48.516388         Yemen     Western Asia
11466           ZA -30.559482   22.937506  South Africa  Southern Africa

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
19     Americas  1970-0023-ECU         20.0                          0 days
26       Europe  1970-0028-HUN        300.0                         60 days
53         Asia  1972-0101-HKG        138.0                          0 days
54     Americas  1972-0033-HTI         78.0                          0 days
66       Europe  1973-0046-ESP        500.0                          0 days
...         ...            ...          ...                             ...
11427    Africa  2021-0637-UGA          1.0                          5 days
11445    Africa  2021-0240-UGA          1.0                          4 days
11464      Asia  2021-0270-YEM         13.0                         16 days
11465      Asia  2021-0449-YEM         11.0                         22 days
11466    Africa  2021-0075-ZAF         31.0                         14 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
19                              0.000000      Hydrological         Flood
26                              1.971293      Hydrological         Flood
53                              0.000000      Hydrological         Flood
54                              0.000000      Hydrological         Flood
66                              0.000000      Hydrological         Flood
...                                  ...               ...           ...
11427                           0.164274      Hydrological         Flood
11445                           0.131420      Hydrological         Flood
11464                           0.525678      Hydrological         Flood
11465                           0.722807      Hydrological         Flood
11466                           0.459968      Hydrological         Flood

      Disaster Subtype Disaster Group
19                 NaN        Natural
26                 NaN        Natural
53                 NaN        Natural
54                 NaN        Natural
66         Flash flood        Natural
...                ...            ...
11427              NaN        Natural
11445              NaN        Natural
11464      Flash flood        Natural
11465              NaN        Natural
11466              NaN        Natural

[1826 rows x 14 columns]
Glacial lake outburst
      country_code   latitude  longitude Country         Region Continent  \
11185           IN  20.593684   78.96288   India  Southern Asia      Asia
11230           IN  20.593684   78.96288   India  Southern Asia      Asia

              Dis_No Total_Deaths Start to End Date_Duration Days  \
11185  2021-0234-IND         16.0                          0 days
11230  2021-0072-IND        234.0                          1 days

       Start to End Date_Duration Months Disaster Subgroup  \
11185                           0.000000    Climatological
11230                           0.032855    Climatological

               Disaster Type Disaster Subtype Disaster Group
11185  Glacial lake outburst              NaN        Natural
11230  Glacial lake outburst              NaN        Natural
Landslide
      country_code   latitude   longitude     Country           Region  \
21              FR  46.227638    2.213749      France   Western Europe
22              FR  46.227638    2.213749      France   Western Europe
39              EC  -1.831239  -78.183406     Ecuador    South America
51              HK  22.396428  114.109497   Hong Kong     Eastern Asia
71              HN  15.199999  -86.241905    Honduras  Central America
...            ...        ...         ...         ...              ...
11274           KG  41.204380   74.766098  Kyrgyzstan     Central Asia
11325           TJ  38.861034   71.276093  Tajikistan     Central Asia
11338           UG   1.373333   32.290275      Uganda   Eastern Africa
11342           UG   1.373333   32.290275      Uganda   Eastern Africa
11457           UZ  41.377491   64.585262  Uzbekistan     Central Asia

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
21       Europe  1970-0016-FRA         42.0                          0 days
22       Europe  1970-0027-FRA         72.0                          0 days
39     Americas  1971-0019-ECU         20.0                          0 days
51         Asia  1972-0038-HKG        100.0                          0 days
71     Americas  1973-0039-HND       2800.0                          0 days
...         ...            ...          ...                             ...
11274      Asia  2021-0413-KGZ         15.0                          1 days
11325      Asia  2021-0432-TJK         12.0                          1 days
11338    Africa  2019-0430-UGA         20.0                          3 days
11342    Africa  2019-0623-UGA          7.0                          1 days
11457      Asia  2021-0413-UZB          8.0                          1 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
21                              0.000000      Hydrological     Landslide
22                              0.000000      Hydrological     Landslide
39                              0.000000      Hydrological     Landslide
51                              0.000000      Hydrological     Landslide
71                              0.000000      Hydrological     Landslide
...                                  ...               ...           ...
11274                           0.032855      Hydrological     Landslide
11325                           0.032855      Hydrological     Landslide
11338                           0.098565      Hydrological     Landslide
11342                           0.032855      Hydrological     Landslide
11457                           0.032855      Hydrological     Landslide

      Disaster Subtype Disaster Group
21           Avalanche        Natural
22           Avalanche        Natural
39           Landslide        Natural
51           Landslide        Natural
71           Landslide        Natural
...                ...            ...
11274         Mudslide        Natural
11325         Mudslide        Natural
11338        Landslide        Natural
11342        Landslide        Natural
11457         Mudslide        Natural

[354 rows x 14 columns]
Mass movement (dry)
     country_code   latitude   longitude           Country  \
37             CA  56.130366 -106.346771            Canada
944            LR   6.428055   -9.429499           Liberia
1160           ID  -0.789275  113.921327         Indonesia
1224           MA  31.791702   -7.092620           Morocco
1232           PK  30.375321   69.345116          Pakistan
1244           PG  -6.314993  143.955550  Papua New Guinea
1721           EG  26.820553   30.802498             Egypt
1764           IN  20.593684   78.962880             India
1941           ET   9.145000   40.489673          Ethiopia
1948           GT  15.783471  -90.230759         Guatemala
2164           MY   4.210484  101.975766          Malaysia
2384           TJ  38.861034   71.276093        Tajikistan
2387           TR  38.963745   35.243322            Turkey
4613           EC  -1.831239  -78.183406           Ecuador
6860           EG  26.820553   30.802498             Egypt
6943           GT  15.783471  -90.230759         Guatemala
7221           PG  -6.314993  143.955550  Papua New Guinea
8232           IN  20.593684   78.962880             India
9373           PK  30.375321   69.345116          Pakistan

                  Region Continent         Dis_No Total_Deaths  \
37      Northern America  Americas  1971-0031-CAN         31.0
944       Western Africa    Africa  1982-0136-LBR         46.0
1160  South-Eastern Asia      Asia  1987-0094-IDN        131.0
1224     Northern Africa    Africa  1988-0094-MAR         31.0
1232       Southern Asia      Asia  1988-0138-PAK         50.0
1244           Melanesia   Oceania  1988-0415-PNG         76.0
1721     Northern Africa    Africa  1993-0345-EGY         34.0
1764       Southern Asia      Asia  1989-0368-IND         45.0
1941      Eastern Africa    Africa  1991-0085-ETH         13.0
1948     Central America  Americas  1991-0046-GTM         23.0
2164  South-Eastern Asia      Asia  1993-0227-MYS         72.0
2384        Central Asia      Asia  1992-0117-TJK         12.0
2387        Western Asia      Asia  1992-0010-TUR        261.0
4613       South America  Americas  2002-0437-ECU         60.0
6860     Northern Africa    Africa  2008-0394-EGY         98.0
6943     Central America  Americas  2009-0003-GTM         36.0
7221           Melanesia   Oceania  2008-0625-PNG         10.0
8232       Southern Asia      Asia  2012-0049-IND         16.0
9373       Southern Asia      Asia  2015-0454-PAK         13.0

     Start to End Date_Duration Days  Start to End Date_Duration Months  \
37                            0 days                           0.000000
944                           0 days                           0.000000
1160                          0 days                           0.000000
1224                          0 days                           0.000000
1232                          0 days                           0.000000
1244                          0 days                           0.000000
1721                          0 days                           0.000000
1764                          0 days                           0.000000

In [94]:
list_placeholder = []
list_placeholder2 = []
list_placeholder3 = []
for name_of_group,contents_of_group in df_group:
     Name_of_Contents_Dict = {}
     Name_of_Contents_Dict.update({name_of_group:[contents_of_group]})
     Name_of_Grp_Dict = {"grouped_data":Name_of_Contents_Dict}
     list_placeholder.append(Name_of_Grp_Dict)
     #for count,content in  enumerate(contents_of_group,1):
          #Name_of_Contents_Dict = {}
          #Name_of_Grp_Dict = {name_of_group:Name_of_Contents_Dict}
          #list_placeholder2.append(Name_of_Grp_Dict)
          #Name_of_Contents_Dict.update({count:contents_of_group})
          #list_placeholder3.append(Name_of_Contents_Dict)
          #list_placeholder.append(Name_of_Grp_Dict)
     
print(list_placeholder)
     #print(name_of_group)
     #print(contents_of_group)


     #via URL => https://stackoverflow.com/questions/54900315/write-output-from-for-loop-to-a-csv-in-python


    # name_of_grp_list = []
    # name_of_grp_list.append(name_of_group)
    # contents_of_grp_list = []
    # contents_of_grp_list.append(contents_of_group)
    # Analysis_Dict = {}
    # Analysis_Dict.update({name_of_grp_list.pop()[0]:contents_of_grp_list.pop()[0]})
    # print(Analysis_Dict)


#url1 => https://stackoverflow.com/questions/8322534/typeerror-builtin-function-or-method-object-is-not-subscriptable
#url2 => https://stackoverflow.com/questions/44214799/attributeerror-str-object-has-no-attribute-pop

     #name_of_grp_list = []
     #name_of_grp_list.append[name_of_group.split(",").pop()[0]]
     #contents_dict = {}
     #contents_dict.update({name_of_group.pop()[0]:contents_of_group.pop()[0]})
     #name_of_grp_list.append(contents_dict)
     #print(name_of_grp_list)
     #GroupBy_Disasters_Dict = {}
     #Group_Contents_Dict = {}
     #GroupBy_Disasters_Dict.update({name_of_group:contents_of_group}) ##WORKS...
     #GroupBy_Disasters_Dict.update({name_of_group:Group_Contents_Dict})
     #if name_of_group != np.nan:
     #     for k,[v] in contents_of_group:
     #          Group_Contents_Dict.update({str(k):str(v)})
     #GroupBy_Disasters_Dict.update({name_of_group:Group_Contents_Dict})
     #print(name_of_group)
     #print(contents_of_group)
     #print(GroupBy_Disasters_Dict)
     #name_group_dict = {}
     #contents_group_dict = {}
     #name_group_dict.update({str(df_group["Country"]):name_of_group})
     #name_group_dict.update({str(df_group["Disaster Type"]):contents_of_group})

#list_placeholder.append([name_group_dict])
#list_placeholder.append([contents_group_dict])

#New_DF = pd.DataFrame(list_placeholder)
#New_DF

[{'grouped_data': {'Earthquake': [      country_code   latitude   longitude     Country              Region  \
18              EC  -1.831239  -78.183406     Ecuador       South America
27              IN  20.593684   78.962880       India       Southern Asia
100             IN  20.593684   78.962880       India       Southern Asia
118             EC  -1.831239  -78.183406     Ecuador       South America
119             EC  -1.831239  -78.183406     Ecuador       South America
...            ...        ...         ...         ...                 ...
11249           ID  -0.789275  113.921327   Indonesia  South-Eastern Asia
11257           IN  20.593684   78.962880       India       Southern Asia
11269           JP  36.204824  138.252924       Japan        Eastern Asia
11301           PK  30.375321   69.345116    Pakistan       Southern Asia
11324           TJ  38.861034   71.276093  Tajikistan        Central Asia

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
18     Americas  1970-0067-ECU         29.0                          0 days
27         Asia  1970-0112-IND         26.0                          0 days
100        Asia  1975-0014-IND         47.0                          0 days
118    Americas  1976-0033-ECU         10.0                          0 days
119    Americas  1976-0068-ECU         10.0                          0 days
...         ...            ...          ...                             ...
11249      Asia  2021-0200-IDN          9.0                          0 days
11257      Asia  2021-0225-IND          2.0                          0 days
11269      Asia  2021-0105-JPN          1.0                          0 days
11301      Asia  2021-0654-PAK         20.0                          0 days
11324      Asia  2021-0403-TJK          5.0                          0 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
18                                   0.0       Geophysical    Earthquake
27                                   0.0       Geophysical    Earthquake
100                                  0.0       Geophysical    Earthquake
118                                  0.0       Geophysical    Earthquake
119                                  0.0       Geophysical    Earthquake
...                                  ...               ...           ...
11249                                0.0       Geophysical    Earthquake
11257                                0.0       Geophysical    Earthquake
11269                                0.0       Geophysical    Earthquake
11301                                0.0       Geophysical    Earthquake
11324                                0.0       Geophysical    Earthquake

      Disaster Subtype Disaster Group
18     Ground movement        Natural
27     Ground movement        Natural
100    Ground movement        Natural
118    Ground movement        Natural
119    Ground movement        Natural
...                ...            ...
11249  Ground movement        Natural
11257  Ground movement        Natural
11269  Ground movement        Natural
11301  Ground movement        Natural
11324  Ground movement        Natural

[440 rows x 14 columns]]}}, {'grouped_data': {'Epidemic': [      country_code   latitude   longitude        Country              Region  \
20              ET   9.145000   40.489673       Ethiopia      Eastern Africa
159             ID  -0.789275  113.921327      Indonesia  South-Eastern Asia
172             IN  20.593684   78.962880          India       Southern Asia
456             ET   9.145000   40.489673       Ethiopia      Eastern Africa
723             GW  11.803749  -15.180413  Guinea-Bissau      Western Africa
...            ...        ...         ...            ...                 ...
10914           PK  30.375321   69.345116       Pakistan       Southern Asia
11096           NG   9.081999    8.675277        Nigeria      Western Africa
11097           NG   9.081999    8.675277        Nigeria      Western Africa
11127           PY -23.442503  -58.443832       Paraguay       South America
11240           GN   9.945587   -9.696645         Guinea      Western Africa

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
20       Africa  1970-0007-ETH        500.0                          0 days
159        Asia  1977-0013-IDN         37.0                          0 days
172        Asia  1978-0012-IND         45.0                          0 days
456      Africa  1980-0130-ETH        157.0                          0 days
723      Africa  1987-0165-GNB         68.0                          0 days
...         ...            ...          ...                             ...
10914      Asia  2019-0659-PAK         95.0                        720 days
11096    Africa  2020-0039-NGA         47.0                         47 days
11097    Africa  2020-0528-NGA         76.0                         33 days
11127  Americas  2020-0080-PRY         20.0                         17 days
11240    Africa  2021-0518-GIN          1.0                         11 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
20                              0.000000        Biological      Epidemic
159                             0.000000        Biological      Epidemic
172                             0.000000        Biological      Epidemic
456                             0.000000        Biological      Epidemic
723                             0.000000        Biological      Epidemic
...                                  ...               ...           ...
10914                          23.655517        Biological      Epidemic
11096                           1.544180        Biological      Epidemic
11097                           1.084211        Biological      Epidemic
11127                           0.558533        Biological      Epidemic
11240                           0.361404        Biological      Epidemic

        Disaster Subtype Disaster Group
20     Bacterial disease        Natural
159    Bacterial disease        Natural
172        Viral disease        Natural
456    Parasitic disease        Natural
723    Bacterial disease        Natural
...                  ...            ...
10914      Viral disease        Natural
11096      Viral disease        Natural
11097      Viral disease        Natural
11127      Viral disease        Natural
11240      Viral disease        Natural

[310 rows x 14 columns]]}}, {'grouped_data': {'Extreme temperature ': [      country_code   latitude   longitude  Country           Region Continent  \
72              IN  20.593684   78.962880    India    Southern Asia      Asia
73              IN  20.593684   78.962880    India    Southern Asia      Asia
624             ES  40.463667   -3.749220    Spain  Southern Europe    Europe
634             GR  39.074208   21.824312   Greece  Southern Europe    Europe
724             GR  39.074208   21.824312   Greece  Southern Europe    Europe
...            ...        ...         ...      ...              ...       ...
10452           RS  44.016521   21.005859   Serbia  Southern Europe    Europe
10537           RO  45.943161   24.966760  Romania   Eastern Europe    Europe
10748           FR  46.227638    2.213749   France   Western Europe    Europe
10889           JP  36.204824  138.252924    Japan     Eastern Asia      Asia
10890           JP  36.204824  138.252924    Japan     Eastern Asia      Asia

              Dis_No Total_Deaths Start to End Date_Duration Days  \
72     1973-0009-IND        115.0                          0 days
73     1973-0054-IND        146.0                          0 days
624    1985-0269-ESP         40.0                          0 days
634    1985-0257-GRC         20.0                          0 days
724    1987-0596-GRC       1000.0                         11 days
...              ...          ...                             ...
10452  2017-0010-SRB          6.0                          0 days
10537  2018-0061-ROU          2.0                          5 days
10748  2020-0530-FRA       1924.0                         17 days
10889  2019-0463-JPN        162.0                         10 days
10890  2019-0467-JPN         11.0                          8 days

       Start to End Date_Duration Months Disaster Subgroup  \
72                              0.000000    Meteorological
73                              0.000000    Meteorological
624                             0.000000    Meteorological
634                             0.000000    Meteorological
724                             0.361404    Meteorological
...                                  ...               ...
10452                           0.000000    Meteorological
10537                           0.164274    Meteorological
10748                           0.558533    Meteorological
10889                           0.328549    Meteorological
10890                           0.262839    Meteorological

              Disaster Type          Disaster Subtype Disaster Group
72     Extreme temperature                  Cold wave        Natural
73     Extreme temperature                  Cold wave        Natural
624    Extreme temperature                  Cold wave        Natural
634    Extreme temperature                  Heat wave        Natural
724    Extreme temperature                  Heat wave        Natural
...                     ...                       ...            ...
10452  Extreme temperature   Severe winter conditions        Natural
10537  Extreme temperature                  Cold wave        Natural
10748  Extreme temperature                  Heat wave        Natural
10889  Extreme temperature                  Heat wave        Natural
10890  Extreme temperature                  Heat wave        Natural

[152 rows x 14 columns]]}}, {'grouped_data': {'Flood': [      country_code   latitude   longitude       Country           Region  \
19              EC  -1.831239  -78.183406       Ecuador    South America
26              HU  47.162494   19.503304       Hungary   Eastern Europe
53              HK  22.396428  114.109497     Hong Kong     Eastern Asia
54              HT  18.971187  -72.285215         Haiti        Caribbean
66              ES  40.463667   -3.749220         Spain  Southern Europe
...            ...        ...         ...           ...              ...
11427           UG   1.373333   32.290275        Uganda   Eastern Africa
11445           UG   1.373333   32.290275        Uganda   Eastern Africa
11464           YE  15.552727   48.516388         Yemen     Western Asia
11465           YE  15.552727   48.516388         Yemen     Western Asia
11466           ZA -30.559482   22.937506  South Africa  Southern Africa

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
19     Americas  1970-0023-ECU         20.0                          0 days
26       Europe  1970-0028-HUN        300.0                         60 days
53         Asia  1972-0101-HKG        138.0                          0 days
54     Americas  1972-0033-HTI         78.0                          0 days
66       Europe  1973-0046-ESP        500.0                          0 days
...         ...            ...          ...                             ...
11427    Africa  2021-0637-UGA          1.0                          5 days
11445    Africa  2021-0240-UGA          1.0                          4 days
11464      Asia  2021-0270-YEM         13.0                         16 days
11465      Asia  2021-0449-YEM         11.0                         22 days
11466    Africa  2021-0075-ZAF         31.0                         14 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
19                              0.000000      Hydrological         Flood
26                              1.971293      Hydrological         Flood
53                              0.000000      Hydrological         Flood
54                              0.000000      Hydrological         Flood
66                              0.000000      Hydrological         Flood
...                                  ...               ...           ...
11427                           0.164274      Hydrological         Flood
11445                           0.131420      Hydrological         Flood
11464                           0.525678      Hydrological         Flood
11465                           0.722807      Hydrological         Flood
11466                           0.459968      Hydrological         Flood

      Disaster Subtype Disaster Group
19                 NaN        Natural
26                 NaN        Natural
53                 NaN        Natural
54                 NaN        Natural
66         Flash flood        Natural
...                ...            ...
11427              NaN        Natural
11445              NaN        Natural
11464      Flash flood        Natural
11465              NaN        Natural
11466              NaN        Natural

[1826 rows x 14 columns]]}}, {'grouped_data': {'Glacial lake outburst': [      country_code   latitude  longitude Country         Region Continent  \
11185           IN  20.593684   78.96288   India  Southern Asia      Asia
11230           IN  20.593684   78.96288   India  Southern Asia      Asia

              Dis_No Total_Deaths Start to End Date_Duration Days  \
11185  2021-0234-IND         16.0                          0 days
11230  2021-0072-IND        234.0                          1 days

       Start to End Date_Duration Months Disaster Subgroup  \
11185                           0.000000    Climatological
11230                           0.032855    Climatological

               Disaster Type Disaster Subtype Disaster Group
11185  Glacial lake outburst              NaN        Natural
11230  Glacial lake outburst              NaN        Natural  ]}}, {'grouped_data': {'Landslide': [      country_code   latitude   longitude     Country           Region  \
21              FR  46.227638    2.213749      France   Western Europe
22              FR  46.227638    2.213749      France   Western Europe
39              EC  -1.831239  -78.183406     Ecuador    South America
51              HK  22.396428  114.109497   Hong Kong     Eastern Asia
71              HN  15.199999  -86.241905    Honduras  Central America
...            ...        ...         ...         ...              ...
11274           KG  41.204380   74.766098  Kyrgyzstan     Central Asia
11325           TJ  38.861034   71.276093  Tajikistan     Central Asia
11338           UG   1.373333   32.290275      Uganda   Eastern Africa
11342           UG   1.373333   32.290275      Uganda   Eastern Africa
11457           UZ  41.377491   64.585262  Uzbekistan     Central Asia

      Continent         Dis_No Total_Deaths Start to End Date_Duration Days  \
21       Europe  1970-0016-FRA         42.0                          0 days
22       Europe  1970-0027-FRA         72.0                          0 days
39     Americas  1971-0019-ECU         20.0                          0 days
51         Asia  1972-0038-HKG        100.0                          0 days
71     Americas  1973-0039-HND       2800.0                          0 days
...         ...            ...          ...                             ...
11274      Asia  2021-0413-KGZ         15.0                          1 days
11325      Asia  2021-0432-TJK         12.0                          1 days
11338    Africa  2019-0430-UGA         20.0                          3 days
11342    Africa  2019-0623-UGA          7.0                          1 days
11457      Asia  2021-0413-UZB          8.0                          1 days

       Start to End Date_Duration Months Disaster Subgroup Disaster Type  \
21                              0.000000      Hydrological     Landslide
22                              0.000000      Hydrological     Landslide
39                              0.000000      Hydrological     Landslide
51                              0.000000      Hydrological     Landslide
71                              0.000000      Hydrological     Landslide
...                                  ...               ...           ...
11274                           0.032855      Hydrological     Landslide
11325                           0.032855      Hydrological     Landslide
11338                           0.098565      Hydrological     Landslide
11342                           0.032855      Hydrological     Landslide
11457                           0.032855      Hydrological     Landslide

      Disaster Subtype Disaster Group
21           Avalanche        Natural
22           Avalanche        Natural
39           Landslide        Natural
51           Landslide        Natural
71           Landslide        Natural
...                ...            ...
11274         Mudslide        Natural
11325         Mudslide        Natural
11338        Landslide        Natural
11342        Landslide        Natural
11457         Mudslide        Natural

[354 rows x 14 columns]]}}, {'grouped_data': {'Mass movement (dry)': [     country_code   latitude   longitude           Country  \
37             CA  56.130366 -106.346771            Canada
944            LR   6.428055   -9.429499           Liberia
1160           ID  -0.789275  113.921327         Indonesia
1224           MA  31.791702   -7.092620           Morocco
1232           PK  30.375321   69.345116          Pakistan
1244           PG  -6.314993  143.955550  Papua New Guinea
1721           EG  26.820553   30.802498             Egypt
1764           IN  20.593684   78.962880             India
1941           ET   9.145000   40.489673          Ethiopia
1948           GT  15.783471  -90.230759         Guatemala
2164           MY   4.210484  101.975766          Malaysia
2384           TJ  38.861034   71.276093        Tajikistan
2387           TR  38.963745   35.243322            Turkey
4613           EC  -1.831239  -78.183406           Ecuador
6860           EG  26.820553   30.802498             Egypt
6943           GT  15.783471  -90.230759         Guatemala
7221           PG  -6.314993  143.955550  Papua New Guinea
8232           IN  20.593684   78.962880             India
9373           PK  30.375321   69.345116          Pakistan

                  Region Continent         Dis_No Total_Deaths  \
37      Northern America  Americas  1971-0031-CAN         31.0
944       Western Africa    Africa  1982-0136-LBR         46.0
1160  South-Eastern Asia      Asia  1987-0094-IDN        131.0
1224     Northern Africa    Africa  1988-0094-MAR         31.0
1232       Southern Asia      Asia  1988-0138-PAK         50.0
1244           Melanesia   Oceania  1988-0415-PNG         76.0
1721     Northern Africa    Africa  1993-0345-EGY         34.0
1764       Southern Asia      Asia  1989-0368-IND         45.0
1941      Eastern Africa    Africa  1991-0085-ETH         13.0
1948     Central America  Americas  1991-0046-GTM         23.0
2164  South-Eastern Asia      Asia  1993-0227-MYS         72.0
2384        Central Asia      Asia  1992-0117-TJK         12.0
2387        Western Asia      Asia  1992-0010-TUR        261.0
4613       South America  Americas  2002-0437-ECU         60.0
6860     Northern Africa    Africa  2008-0394-EGY         98.0
6943     Central America  Americas  2009-0003-GTM         36.0
7221           Melanesia   Oceania  2008-0625-PNG         10.0
8232       Southern Asia      Asia  2012-0049-IND         16.0
9373       Southern Asia      Asia  2015-0454-PAK         13.0

     Start to End Date_Duration Days  Start to End Date_Duration Months  \
37                            0 days                           0.000000
944                           0 days                           0.000000
1160                          0 days                           0.000000
1224                          0 days                           0.000000
1232                          0 days                           0.000000

In [95]:
df =  pd.json_normalize(list_placeholder)  #pd.DataFrame(list_placeholder) #.from_dict(list_placeholder, orient='columns')

df

StopIteration:

StopIteration:

In [97]:
df2 = pd.DataFrame(list_placeholder)

df2

StopIteration:

StopIteration:

In [24]:
#end_y = Disaster_starting_dates_df['Start Year']
#end_m = Disaster_starting_dates_df['Start Month']
#end_d = Disaster_starting_dates_df['Start Day']
#end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

#end_y = end_y.isnull().sum()
#end_m = end_m.isnull().sum()
#end_d = end_d.isnull().sum()
#end_total = end_total.count()
#print(end_total)
#print(end_y)
#print(end_m)
#print(end_d)
#print("+-+-+-+-+-+")
#end_y_missing = round( end_y / end_total * 100 , 2)
#end_m_missing = round( end_m / end_total * 100 , 2)
#end_d_missing = round( end_d / end_total * 100 , 2)

#print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")

In [25]:
#Merged_filtered_wLatLong_df.info()

In [26]:
#LatLong_Merged_toCSV = Merged_filtered_wLatLong_df.dropna()

#LatLong_Merged_toCSV

In [27]:
#Confirm to Disaster starting/ending dates df's the missing data rows via 1s and 0s.
#via URL => https://stackoverflow.com/questions/60094213/for-loop-to-find-rows-in-another-dataframe
#Supporting URL => https://stackoverflow.com/questions/50449088/check-if-value-from-one-dataframe-exists-in-another-dataframe

#Excellent way to create a "custom" boolean for our data cleansing purposes ... with regards to missing data.

#Merged_disaster_starting_dates_df = Disaster_dates_df.merge(Starting_missing_dates.assign(in_index="Missing_Month_or_Day"),
#                                                                      left_on='Dis No', right_on='Dis No', how='left').fillna({'in_index':'Date_Complete'})
#Analysis_disaster_starting_dates_df.info()

#Merged_disaster_starting_dates_df

In [28]:
#Filter_to_Value = "Date_Complete"

#Filtered_Complete_DataAnalysis_toCsv = Complete_DataAnalysis_toCsv.query('Start_Date_Complete_Y_N == @Filter_to_Value and End_Date_Complete_Y_N == @Filter_to_Value ')

#Used URL => https://towardsdatascience.com/use-pandas-query-to-filter-or-select-data-in-pandas-dataframe-82ae3a3683a1

In [29]:
#end_y = Disaster_starting_dates_df['Start Year']
#end_m = Disaster_starting_dates_df['Start Month']
#end_d = Disaster_starting_dates_df['Start Day']
#end_total = Disaster_starting_dates_df['Dis No']
#print(st_d)

#end_y = end_y.isnull().sum()
#end_m = end_m.isnull().sum()
#end_d = end_d.isnull().sum()
#end_total = end_total.count()
#print(end_total)
#print(end_y)
#print(end_m)
#print(end_d)
#print("+-+-+-+-+-+")
#end_y_missing = round( end_y / end_total * 100 , 2)
#end_m_missing = round( end_m / end_total * 100 , 2)
#end_d_missing = round( end_d / end_total * 100 , 2)

#print(f"The End Day column has {end_d_missing} % of missing data.\nThe End Month column has {end_m_missing} % of missing data.\nThe End Year column has {end_y_missing} % of missing data.\n")