In [3]:
# Import dependencies
import pandas as pd
import numpy as np
import os
#import csv

In [4]:
# Change directory to the directory of current python script. 
#via URL => https://stackoverflow.com/questions/1432924/python-change-the-scripts-working-directory-to-the-scripts-own-directory
#via URL => https://www.geeksforgeeks.org/python-os-path-abspath-method-with-example/

file_name = "Project3_NaturalDisasters.ipynb"
abs_path = os.path.abspath(file_name)        #(__file__)
print(abs_path)
dir_name = os.path.dirname(abs_path)
print(dir_name)
print("-----")
os.chdir(dir_name)

c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview\Project3_NaturalDisasters.ipynb
c:\Users\Aolda\OneDrive\Desktop\SCS_Modules_ToGitHub\Project3_Leaflet\Project3_NaturalDisastersDataReview
-----

In [5]:
#Confirm VAR for location of Resources Folder.
target_directory_file1 = "Resources/DISASTERS/"
source1_file_name = "1970-2021_DISASTERS.xlsx - emdat data.csv"

Pandas_read_file1 = target_directory_file1 + source1_file_name

In [6]:
# Read the data into a Pandas DataFrame. Reminder pd.read_csv() is targeted to current working directory.

#usecols_file1 = [] #Note1 => Will load all Cols to start ... good feature for future if we'd already know the data, etc.
#Approach via URL => https://www.datacamp.com/tutorial/pandas-read-csv
index_col_file1 = "Dis No"

natural_disasters_df = pd.read_csv(Pandas_read_file1) #, index_col=index_col_file1)  #SeeNote1+Error below ... dropping the index assignment for now ...  , usecols=usecols_file1)
natural_disasters_df.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN

In [7]:
# Get a brief summary of the crowdfunding_info DataFrame.
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Dis No                           14644 non-null  object
 1   Year                             14644 non-null  int64
 2   Seq                              14644 non-null  int64
 3   Glide                            1581 non-null   object
 4   Disaster Group                   14644 non-null  object
 5   Disaster Subgroup                14644 non-null  object
 6   Disaster Type                    14644 non-null  object
 7   Disaster Subtype                 11897 non-null  object
 8   Disaster Subsubtype              1044 non-null   object
 9   Event Name                       3645 non-null   object
 10  Country                          14644 non-null  object
 11  ISO                              14644 non-null  object
 12  Region                           14644 non-null  object
 13  Continent                        14644 non-null  object
 14  Location                         13298 non-null  object
 15  Origin                           3780 non-null   object
 16  Associated Dis                   3232 non-null   object
 17  Associated Dis2                  698 non-null    object
 18  OFDA Response                    1450 non-null   object
 19  Appeal                           2440 non-null   object
 20  Declaration                      3127 non-null   object
 21  Aid Contribution                 677 non-null    float64
 22  Dis Mag Value                    4569 non-null   float64
 23  Dis Mag Scale                    13571 non-null  object
 24  Latitude                         2331 non-null   object
 25  Longitude                        2335 non-null   object
 26  Local Time                       765 non-null    object
 27  River Basin                      1285 non-null   object
 28  Start Year                       14644 non-null  int64
 29  Start Month                      14376 non-null  float64
 30  Start Day                        11577 non-null  float64
 31  End Year                         14644 non-null  int64
 32  End Month                        14095 non-null  float64
 33  End Day                          11650 non-null  float64
 34  Total Deaths                     10199 non-null  float64
 35  No Injured                       3651 non-null   float64
 36  No Affected                      8846 non-null   float64
 37  No Homeless                      2249 non-null   float64
 38  Total Affected                   11041 non-null  float64
 39  Reconstruction Costs ('000 US$)  31 non-null     float64
 40  Insured Damages ('000 US$)       1094 non-null   float64
 41  Total Damages ('000 US$)         4863 non-null   float64
 42  CPI                              14329 non-null  float64
 43  Adm Level                        7855 non-null   object
 44  Admin1 Code                      4581 non-null   object
 45  Admin2 Code                      3965 non-null   object
 46  Geo Locations                    7855 non-null   object
dtypes: float64(15), int64(4), object(28)
memory usage: 5.3+ MB

In [8]:
#List columns in total.

natural_disasters_df_colums = natural_disasters_df.columns

natural_disasters_df_colums

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [9]:
#Create an Analysis_DF via Pandas "select cols" approach.

List_of_Analysis1_Columns = [str("Total Damages ('000 US$)"),'Total Deaths','Dis No','Disaster Group', 'Disaster Subgroup','Disaster Type','Country', 'Region','Location','Continent']
     #Note single quotes issue with how Source_File named "Total Damages ('000 US$)".

Analysis_natural_disasters_df = natural_disasters_df[List_of_Analysis1_Columns] #,]
#Reminders via URL => https://www.golinuxcloud.com/pandas-select-columns-examples/ and https://www.datacamp.com/tutorial/python-select-columns

Analysis_natural_disasters_df.tail()

,Total Damages ('000 US$),Total Deaths,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Country,Region,Location,Continent
14639,NaN,11.0,2021-0449-YEM,Natural,Hydrological,Flood,Yemen,Western Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Asia
14640,75000.0,31.0,2021-0075-ZAF,Natural,Hydrological,Flood,South Africa,Southern Africa,"Mpumalanga Province, Free State Province and t...",Africa
14641,NaN,131.0,2021-0599-COD,Natural,Biological,Epidemic,Congo (the Democratic Republic of the),Middle Africa,Tshopo province,Africa
14642,NaN,NaN,2021-0020-SRB,Natural,Hydrological,Flood,Serbia,Southern Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Europe
14643,NaN,7.0,2021-0481-SSD,Natural,Hydrological,Flood,South Sudan,Northern Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Africa

In [10]:
#Print Analysis_DF Data Types to Enable Analysis.

print(Analysis_natural_disasters_df.dtypes)
#via URL syntax note ... no "()" with dtypes ... => https://datatofish.com/data-type-pandas-dataframe/

Total Damages ('000 US$)    float64
Total Deaths                float64
Dis No                       object
Disaster Group               object
Disaster Subgroup            object
Disaster Type                object
Country                      object
Region                       object
Location                     object
Continent                    object
dtype: object

In [11]:
#Convert Analysis_DF Data Types to Enable Analysis.

#N/A ... the Damages and Deaths actually read-in as float64.

Analysis_natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Total Damages ('000 US$)  4863 non-null   float64
 1   Total Deaths              10199 non-null  float64
 2   Dis No                    14644 non-null  object
 3   Disaster Group            14644 non-null  object
 4   Disaster Subgroup         14644 non-null  object
 5   Disaster Type             14644 non-null  object
 6   Country                   14644 non-null  object
 7   Region                    14644 non-null  object
 8   Location                  13298 non-null  object
 9   Continent                 14644 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.1+ MB

In [12]:
#Establish Unique lists of potential visualization columns.

Disaster_groups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[3]].unique().tolist())
Disaster_subgroups = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[4]].unique().tolist())
Disaster_types = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[5]].unique().tolist())
Disaster_countries = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[6]].unique().tolist())
Disaster_region = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[7]].unique().tolist())
Diasaster_contenent = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[9]].unique().tolist())
Disaster_location = pd.Series(Analysis_natural_disasters_df[List_of_Analysis1_Columns[8]].unique().tolist())

In [13]:
#Print test lists to validate output.

print(Disaster_location)
print("------")
Diasaster_contenent.tail()

0                                                  Mendoza
1                                               Queensland
2                                           Atacora region
3                                       Khulna, Chittagong
4                                                      NaN
                               ...
11991    Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...
11992    Mpumalanga Province, Free State Province and t...
11993                                      Tshopo province
11994    Zitoradja (Toplicki), Doljevac (Nisavski) , Di...
11995    Mayendit County (Unity); Ayod, Fangak Counties...
Length: 11996, dtype: object
------

0    Americas
1     Oceania
2      Africa
3        Asia
4      Europe
dtype: object

In [14]:
#Create Date Observations and Date Durations DataFrame

List_of_Dates1_Columns = ['Dis No', 'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month','End Day' ]

Disaster_dates_df = natural_disasters_df[List_of_Dates1_Columns]

Disaster_dates_df

,Dis No,Start Year,Start Month,Start Day,End Year,End Month,End Day
0,1970-0013-ARG,1970,1.0,4.0,1970,1.0,4.0
1,1970-0109-AUS,1970,1.0,NaN,1970,1.0,NaN
2,1970-0044-BEN,1970,9.0,NaN,1970,9.0,NaN
3,1970-0063-BGD,1970,11.0,12.0,1970,11.0,12.0
4,1970-0026-BGD,1970,4.0,13.0,1970,4.0,13.0
...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,7.0,16.0,2021,8.0,7.0
14640,2021-0075-ZAF,2021,2.0,1.0,2021,2.0,15.0
14641,2021-0599-COD,2021,9.0,7.0,2021,9.0,13.0
14642,2021-0020-SRB,2021,1.0,11.0,2021,1.0,12.0
14643,2021-0481-SSD,2021,5.0,NaN,2021,10.0,7.0

In [15]:
#Create Year Starting Date Column

Disaster_starting_dates_df = Disaster_dates_df.copy()
Starting_date_cols = ['Dis No', 'Start Year', 'Start Month', 'Start Day']
Disaster_starting_dates_df = Disaster_starting_dates_df.loc[:,Starting_date_cols]

#Print to validate.
Disaster_starting_dates_df.head()

          Dis No  Start Year  Start Month  Start Day
0  1970-0013-ARG        1970          1.0        4.0
1  1970-0109-AUS        1970          1.0        NaN
2  1970-0044-BEN        1970          9.0        NaN
3  1970-0063-BGD        1970         11.0       12.0
4  1970-0026-BGD        1970          4.0       13.0

In [16]:
#Create Year Ending Date Column
Disaster_ending_dates_df = Disaster_dates_df.copy()

#Reduce copied DF to necessary columns for analysis.
Ending_date_cols = ['Dis No', 'End Year', 'End Month', 'End Day']
Disaster_ending_dates_df = Disaster_ending_dates_df.loc[:,Ending_date_cols]

#Print to validate.
Disaster_ending_dates_df.tail()

              Dis No  End Year  End Month  End Day
14639  2021-0449-YEM      2021        8.0      7.0
14640  2021-0075-ZAF      2021        2.0     15.0
14641  2021-0599-COD      2021        9.0     13.0
14642  2021-0020-SRB      2021        1.0     12.0
14643  2021-0481-SSD      2021       10.0      7.0

In [17]:
#New Approach => https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/
#Support URL => https://stackoverflow.com/questions/19844985/pandas-selecting-array-of-index-labels-with-loc
#Support URL2 => https://stackoverflow.com/questions/19155718/select-pandas-rows-based-on-list-index#:~:text=Use.iloc%20for%20integer%20based%20indexing%20and.loc%20for%20label,below%20example%3A%20ind_list%20%3D%20%5B1%2C%203%5D%20df.iloc%20%5Bind_list%5D

StartYear_Index = Starting_date_cols.index('Start Year')
StartMonth_Index = Starting_date_cols.index('Start Month')
StartDay_Index = Starting_date_cols.index('Start Day')
#Above via URL => https://stackoverflow.com/questions/176918/finding-the-index-of-an-item-in-a-list

#Strt_day_nulls = pd.Series([Disaster_starting_dates_df.index.isin([StartDay_Index])]) # .loc['Start Day']])
#WEIRDLY produced a true/false list .... 

st_d = Disaster_starting_dates_df['Start Day']
print(st_d)


#NEED to figure out how to get this working ... for our date duration analysis ... to be solid ...

0         4.0
1         NaN
2         NaN
3        12.0
4        13.0
         ...
14639    16.0
14640     1.0
14641     7.0
14642    11.0
14643     NaN
Name: Start Day, Length: 14644, dtype: float64

In [18]:
#NOT WORKING ....
#Cleaed up via URL => https://stackoverflow.com/questions/64979067/how-do-i-properly-use-iloc-indexing
#2nd URL reference => https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

Date_DF_Total_Rows_Array = pd.Series(list([Disaster_dates_df.iloc[0]]))
print(Date_DF_Total_Rows_Array)

0    Dis No         1970-0013-ARG
Start Year       ...
dtype: object

In [19]:
#Use NumPy to Confirm total NaNs within the Date DataSets. To determine the impact of removing them entirely vs replacing with a placeholder (IE: something that would require a team discussion ... because of the potential "false" data impact on the visualiztion).

#Count Approach via URL => https://www.statology.org/numpy-count-nan/

Date_DF_Total_Rows = np.count_nonzero(~np.isnan(Disaster_ending_dates_df.iloc[:0]))

Date_DF_Total_Rows
#Start_Year_

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
#DEPRECATED APPROACH .... 
#
#Determine how man NaNs are contained within both DFs.

#NaNs_Starting_dates = Disaster_starting_dates_df.info()
#NaNs_Ending_dates = Disaster_ending_dates_df.info()

#print("+-+-+-+-+-+")
#print(f"The NaNs Analysis is below:\nStarting_Dates:\n{NaNs_Starting_dates}\nEnding_Dates:\n{NaNs_Ending_dates}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dis No       14644 non-null  object
 1   Start Year   14644 non-null  int64
 2   Start Month  14376 non-null  float64
 3   Start Day    11577 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 457.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Dis No     14644 non-null  object
 1   End Year   14644 non-null  int64
 2   End Month  14095 non-null  float64
 3   End Day    11650 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 457.8+ KB
+-+-+-+-+-+
The NaNs Analysis is below:
Starting_Dates:
None
Ending_Dates:
None

In [ ]:
#
#RENAME COLS approach:

#new = {
#    'blurb': 'description',
#    'launched_at': 'launched_date',
#    'deadline': 'end_date'
#}

#campaign_df_new = campaign_df.rename(columns=new)
#campaign_df_new.head()

#
#DateTime Approach 1

#from datetime import datetime as dt

#campaign_df_new2 = campaign_df_new.copy()

#campaign_df_new2['launched_date'] = pd.to_datetime(campaign_df_new2['launched_date'], unit='s').dt.strftime('%Y-%m-%d')
#campaign_df_new2['end_date'] = pd.to_datetime(campaign_df_new2['end_date'], unit='s').dt.strftime('%Y-%m-%d')

#
#DateTime Approach 2
#DateInsert_Month_Year_DF = pd.Series(pd.to_datetime(Housing_Prices_by_year_df['month_Year'], format='%Y-%m-%d', errors = 'coerce'))

#
#DateTime Approach 3 ... if no "day = 1" provided to strip it out ... of your yyyy-mm formated convert.
#HP_Month_Year_DF = DateClean_Housing_Prices_by_year_df['OLD_AsTXT_month_Year'].str.split('-')
#HP_Year_Row = HP_Month_Year_DF.str.get(0) #access the first element for eventual "column1"
#HP_Month_Row = HP_Month_Year_DF.str.get(1) #access the 2nd element for eventual "column2"
#HP_Day_Row = HP_Month_Year_DF.str.get(2) #access the 3rd element for eventual "column3"

#
#Merge Appproach
#Manual_Merge_Geo = pd.concat([Geo_CityRow,Geo_ProvRow], axis=1)

#+ RENAME cols right away in script order.
#Manual_Merge_Geo.columns.values[0] = "City_Region"
#Manual_Merge_Geo.columns.values[1] = "Province"

#
#Merge 2
#GeoUpdated_DF = pd.concat([reduced_main_renamed_df,Manual_Merge_Geo],axis=1,join='outer') # ,join_axes=None,ignore_index=False)
#print(GeoUpdated_DF)

#
#REMOVE "bad data" for our Analysis purposes.